.beer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.beer_container .beer_container_text {
  margin-bottom: 0.5em;
  font-weight: bold;
}
.beer_container img {
  background-size: cover;
  width: 450px;
}
.beer_container .price {
  margin-bottom: 0.5em;
}

.button_cart {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  transition: 0.3s;
}
.button_cart:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media only screen and (min-width: 920px) {
  section.catalogo_container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
  }
  section.catalogo_container img {
    width: 300px;
  }
}
h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

.send-message-cta {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  border: solid 1px;
  margin-bottom: 5em;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  transition: 0.2s;
  cursor: pointer;
}
.send-message-cta:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}

iframe {
  width: 100%;
  height: 300px;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

nav.menu-btn {
  display: block;
}

.container-contacto {
  margin-top: 7em;
}

.contact-section {
  margin: 0 auto;
  max-width: 450px;
}

@media only screen and (min-width: 1200px) {
  .contact-section {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .contact-left {
    max-width: 500px;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}
.more-info2 {
  padding: 1em;
}
.more-info2 .feature .nosotros-img {
  background: url("/img/nosotros3.jpg");
  background-size: cover;
  background-position-x: 60%;
  background-repeat: no-repeat;
  position: absolute;
  filter: brightness(20%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.more-info2 .feature p.title {
  color: rgb(224, 224, 224);
  font-size: 1.47rem;
  margin-top: 3em;
  text-align: center;
}
.more-info2 .feature .youtube-video {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}
.more-info2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15em;
}

.content p {
  font-size: 1.25em;
  padding-bottom: 0.6em;
}

div.button-nosotros {
  display: flex;
  justify-content: center;
}
div.button-nosotros a.button-contacto {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.3s;
  margin-bottom: 0rem;
}
div.button-nosotros a.button-contacto:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media only screen and (min-width: 920px) {
  section.more-info2 .content {
    max-width: 1200px;
  }
  section.more-info2 .content .youtube-video {
    width: 900px;
    height: 400px;
  }
  .more-info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .more-info2 .feature {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
  .more-info2 .feature img {
    width: 50%;
  }
  .footer-nosotros {
    margin-top: 0px;
  }
  .button-nosotros {
    margin-bottom: 8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .nosotros-img {
    background: url("./img/nosotros3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .button-nosotros {
    margin-bottom: 11rem;
  }
}
.body-gracias {
  padding: 0;
}

.gracias-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gracias-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gracias-container div a {
  text-decoration: none;
  font-size: 1.5rem;
  color: lightgrey;
  transition: 0.2s;
}
.gracias-container div a:hover {
  color: black;
}
.gracias-container .gracias {
  font-weight: 700;
  font-size: 8rem;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

body {
  padding: 1.5em;
}

a {
  text-decoration: none;
}

.hero-img {
  background: url("../img/1.webp");
  background-size: cover;
  background-position-x: 60%;
  background-repeat: no-repeat;
  position: absolute;
  filter: brightness(30%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

.logo {
  width: 200px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  height: 50vh;
  border-bottom-left-radius: 0.2em;
  border-left: 1px solid rgb(214, 214, 214);
  border-bottom: 1px solid rgb(214, 214, 214);
  width: 50%;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out;
}
nav ul {
  list-style-type: none;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 1em 2em;
  display: block;
  transition: 0.15s;
  font-weight: bold;
}
nav ul a:hover {
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  color: white;
}
nav .close {
  float: right;
  margin-top: 2.6em;
  margin-right: 3.65em;
  width: 2.4em;
  opacity: 0.8;
  transition: 0.2s;
}
nav .close:hover {
  cursor: pointer;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 200px;
}
header svg {
  width: 2.5em;
  margin-right: 2em;
  margin-bottom: 0.7em;
}
header svg:hover {
  cursor: pointer;
}

section.arrow {
  display: flex;
  justify-content: space-around;
  margin-top: 45em;
}
section.arrow .down-arrow {
  width: 80px;
  animation: moveArrow 1s alternate-reverse infinite;
}

section.hero {
  text-align: center;
  vertical-align: middle;
}
section.hero .headline {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  margin-bottom: 2em;
}
section.hero .button {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 4px;
  transition: 0.3s;
}
section.hero .button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.more-info {
  text-align: center;
  margin-top: 8em;
}
.more-info svg {
  width: 8em;
  margin-bottom: 1em;
}
.more-info .title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}
.more-info .info {
  margin-top: 6em;
}

footer {
  margin-top: 10em;
  padding-top: 2em;
  border-top: solid 1px rgb(209, 209, 209);
  text-align: center;
}
footer .head {
  font-weight: bold;
}
footer .info {
  margin-bottom: 1em;
}
footer .svg-footer {
  width: 20px;
}

.bottom-container a img {
  width: 300px;
}
.bottom-container p {
  font-size: 0.8rem;
  padding: 2em;
  padding-top: 0;
}

.open-nav {
  transform: translateX(0%);
  transition: 1s;
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translatex(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
  }
  nav ul a:hover {
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-decoration-thickness: 0.3em;
    background: none;
  }
  section.arrow {
    margin-top: 40em;
  }
  section.arrow .down-arrow {
    width: 120px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header img.logo {
    margin-left: 0em;
  }
  header nav.blackfont-nav ul li a {
    color: black;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-img {
    background: url("../img/1.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    -webkit-animation: introLoad 2s forwards;
            animation: introLoad 2s forwards;
  }
  section.more-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 0;
  }
  section.hero .headline {
    padding-top: 5em;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */