<header>
  <a href="/">
    <img class="logo" src="./img/logobullerwhitepng.png" alt="logo Buller" />
  </a>

  <nav>
    <!-- cross-close nav -->
    <svg
      class="close"
      viewBox="0 0 10 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.6875 1.65172L8.34828 0.3125L5 3.66078L1.65172 0.3125L0.3125 1.65172L3.66078 5L0.3125 8.34828L1.65172 9.6875L5 6.33922L8.34828 9.6875L9.6875 8.34828L6.33922 5L9.6875 1.65172Z"
        fill="black"
      />
    </svg>

    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/catalogo">Catálogo</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>

  <!-- hamburguer menu -->
  <svg
    class="menu"
    viewBox="0 0 14 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 10H14V8H0V10ZM0 0V2H14V0H0ZM0 6H14V4H0V6Z" fill="white" />
  </svg>
</header>
