<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"Catálogo | Buller"})%>
  <body id="top">
    <%- include('./partials/headerBlanco')%>

    <!-- main -->
    <main class="main_catalogo">
      <section class="catalogo_container">
        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata1.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">JUICY PALE ALE</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata2.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">HEFE</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata3.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">HONEY</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>
      </section>

      <section class="catalogo_container">
        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata4.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">IPA</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata5.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">GOLDEN ALE</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata6.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">AMBER ALE</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>
      </section>

      <section class="catalogo_container">
        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata7.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">STOUT</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata8.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">ALL IN</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>

        <div class="beer_container">
          <img
            class="wow animate__animated animate__fadeIn"
            src="../img/Lata9.png"
            alt="lata de cerveza"
          />
          <p class="beer_container_text">IPL</p>
          <p class="price">500$</p>
          <p class="button_cart">COMPRAR</p>
        </div>
      </section>
    </main>
    <%- include('./partials/footer')%>

    <script>
      const menu = document.querySelector(".menu");
      const close = document.querySelector(".close");
      const nav = document.querySelector("nav");

      menu.addEventListener("click", () => {
        nav.classList.add("open-nav");
      });

      close.addEventListener("click", () => {
        nav.classList.remove("open-nav");
      });
    </script>
    <script src="../js/wow.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
