<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:"Contacto | Buller"})%>
  <body id="top">
    <%- include('./partials/headerBlanco')%>

    <!-- main -->
    <!-- CONTACTO MAIN  -->
    <section id="section-contacto" class="contact-section">
      <div class="container-contacto">
        <div class="contact-left">
          <h2>Contacto</h2>

          <form action="">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" />

            <label for="message">Mensaje</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
            ></textarea>
            <a href="./gracias.html">
              <p class="send-message-cta">Enviar</p>
            </a>
          </form>
        </div>

        <div class="contact-right">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5079996625327!2d-58.3911895709102!3d-34.59131370364511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa3025cd7e5%3A0x3ab3fcea96ecadf0!2sBuller%20Brewing%20Co!5e0!3m2!1ses!2sar!4v1666466024892!5m2!1ses!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <%- include('./partials/footer')%>

    <script>
      const menu = document.querySelector(".menu");
      const close = document.querySelector(".close");
      const nav = document.querySelector("nav");

      menu.addEventListener("click", () => {
        nav.classList.add("open-nav");
      });

      close.addEventListener("click", () => {
        nav.classList.remove("open-nav");
      });
    </script>
  </body>
</html>
