.more-info2 {
  padding: 1em;
  .feature {
    margin-bottom: 2em;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 15em;
  }
}

.content {
  p {
    font-size: 1.25em;
    padding-bottom: .6em;
  }
}

